version: "3.9"
services:
  jenkins:
    image: jenkins/jenkins:lts
    privileged: true # Required for DinD
    ports:
      - "8080:8080"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
  jenkins_home:
